html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 0px;
}

body {
  background: #E4F0FE;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

header {
  background: #4994FB;
  display: flex;
  flex-direction: row;
  color: white;
  padding: 0em 1em;
  height: 2.2em;
  align-items: center;

  .gearsIcon {
    height: 1.6em;
    margin-right: 0.5em;
    margin-top: -0.3em;
    margin-bottom: -0.3em;
  }

  #projectName, #robotName {
    margin-left: 1em;
    background: #76AFFC;
    border: dashed 1px #5781BA;
    border-radius: 0.3em;
    padding: 0.3em 0.5em;
    position: relative;
    color: white;
  }

  #projectName::placeholder {
    color: #95989A;
  }

  .language {
    margin-left: auto;
    cursor: pointer;
    user-select: none;
  }
}

.bold {
  font-weight: bold;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

nav {
  margin-top: 0.5em;
  display: flex;
  border-bottom: solid 1px #bbbbbb;
  align-items: center;

  ul.panelTabs {
    display: flex;
    padding-left: 5px;
    margin: 0;

    li {
      display: block;
      border: solid 1px #bbbbbb;
      padding: 0.3em 1em;
      border-radius: 0.5em 0.5em 0 0;
      border-bottom: none;
      margin-left: -5px;
      background: #D9E3F1;
      color: #999999;
      cursor: pointer;
      user-select: none;
      white-space:nowrap;
    }

    li:hover {
      background: #E4F0FE;
    }

    li.active {
      z-index: 1;
      background: white;
      color: #4994FB;
      margin-top: -5px;
      font-size: 110%;
    }
  }

  .menuBar {
    display: flex;
    margin-left: 0.5em;

    .menuItem {
      padding: 0.3em 0.5em;
      font-weight: bold;
      color: gray;
      cursor: pointer;
      user-select: none;
    }

    .menuItem:hover {
      color: #4994FB;
    }
  }

  .news {
    margin-left: 2em;
    font-weight: bold;
    color: red;
    cursor: pointer;
    user-select: none;
  }

  .panelControlsArea {
    margin-left: auto;

    .panelControls {
      display: none;

      .codeTypeSelector {
        display: inline-flex;
        gap: 0.5em;
        margin-right: 1em;

        button {
          background: #E4F0FE;
          border: 1px solid #4994FB;
          color: #4994FB;
          padding: 0.3em 0.8em;
          border-radius: 0.3em;
          cursor: pointer;
          font-size: 0.9em;
          font-weight: 500;
          transition: all 0.2s;
        }

        button:hover {
          background: #D0E8FF;
        }

        button.active {
          background: #4994FB;
          color: white;
          font-weight: bold;
        }
      }
    }

    .panelControls.active {
      display: block;
    }
  }
}

.panels {
  flex-grow: 1;
  position: relative;
  overflow: hidden;

  .panel {
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
  }

  .panel.active {
    z-index: 0;
  }
}

.saveBlockly, .savePython {
  font-weight: bold;
  color: gray;
  cursor: pointer;
  user-select: none;
  margin: 0 1em;
}

.saveBlockly.hide, .savePython.hide {
  display: none;
}

// #pythonCode {
//   width: 100%;
//   height: 100%;
//   font-size: 120%;
// }

// #pythonCode.hide {
//   display: none;
// }

// .pythonModule {
//   width: 100%;
//   height: 100%;
//   font-size: 120%; }

.dialogWindow {
  .selectRobot {
    // max-height: 60vh;
    // display: flex;
    // flex-direction: column;

    .description {
      display: flex;
      border: solid 1px white;
      margin-top: 0.5em;

      .thumbnail {
        width: 200px;
        height: 200px;
      }

      .text {
        border-left: solid 1px white;
        padding: 0 1em;
        flex-shrink: 1;
      }
    }

    .configurations {
      border: solid 1px white;
      margin-top: 0.5em;
      padding: 0 0.5em;
      // overflow-y: auto;
      // max-height: 20em;
    }
  }
}

ul.menuDropDown {
  background: rgba(12, 12, 16, 0.78);
  border: solid 1px rgba(255, 255, 255, 0.18);
  color: #f5f5f5;
  position: absolute;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border-radius: 0.6em;
  overflow: hidden;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(10px);

  li {
    display: block;
    color: inherit;
    padding: 0.6em 0.9em;
  }
  li:hover {
    background: rgba(255, 255, 255, 0.12);
  }
  li.underline {
    border-bottom: solid 1px rgba(255, 255, 255, 0.15);
  }
  .tick {
    color: #9cf29c;
  }
}

ul.menuDropDownRightAlign {
  top: 100%;
}

.helperToggle {
  position: absolute;
  right: 1em;
  top: 0.3em;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: white;
  padding: 0.4em 0.8em;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9em;
  transition: background 0.2s;

  &:hover {
    background: rgba(255, 255, 255, 0.3);
  }
}

.helperCard {
  position: absolute;
  bottom: 1em;
  right: 1em;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1em;
  max-width: 350px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  transition: opacity 0.2s, transform 0.2s;

  &.hide {
    display: none;
  }

  .helperClose {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    background: none;
    border: none;
    font-size: 1.5em;
    color: #999;
    cursor: pointer;
    line-height: 1;
    padding: 0;
    width: 1.5em;
    height: 1.5em;

    &:hover {
      color: #333;
    }
  }

  .helperTitle {
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 0.5em;
    color: #333;
    padding-right: 1.5em;
  }

  p {
    margin: 0;
    line-height: 1.5;
    color: #666;
  }
}

@import '_blocklyPanel.scss';
@import '_simPanel.scss';
@import '_font.scss';
@import '_arena.scss';
@import '_pythonPanel.scss';
@import '_configuratorAndBuilder.scss';
